{% extends "./page.njk" %}
{% from "button/macro.njk" import govukButton %}

{% block pageContent %}
  <p class="govuk-body">{{ formDescription }}</p>
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% block formContent %}{% endblock %}
    {{ govukButton({
      text: buttonText
    }) }}
  </form>
{% endblock %}
