{% extends "./page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageContent %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: errorTitleText,
      errorList: errors | toErrorList
    }) }}
  {% endif %}

  {% block preambleContent %}{% endblock %}

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% block formContent %}{% endblock %}
    {{ govukButton({
      text: buttonText,
      preventDoubleClick: true,
      attributes: {
        id: 'submit-button'
      }
    }) }}
  </form>
{% endblock %}