{% extends "./page.njk" %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% block pageContent %}
  {% block preambleContent %}{% endblock %}
  <form method="post">
    {% if errors %}
      {{ govukErrorSummary({
        titleText: errorTitleText,
        errorList: errors | toErrorList
      }) }}
    {% endif %}

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% block formContent %}{% endblock %}
    {{ govukButton({
      text: buttonText
    }) }}
  </form>
{% endblock %}
