<h2 class="govuk-heading-m">What happens next</h2>
<p class="govuk-body">We need to review your application. We’ll send you a letter with our decision within 5 working days.</p>
<p class="govuk-body">If you’ve not heard from us in that time:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>call 0300 330 7010</li>
  <li>select option 3</li>
</ul>

<p class="govuk-body">We’ve also sent you an email.</p>

<h2 class="govuk-heading-m">Give feedback</h2>
<p class="govuk-body"><a class="govuk-link" href="https://www.smartsurvey.co.uk/s/apply-for-healthy-start-feedback">What did you think of this service?</a> (takes 30 seconds).</p>
