<p class="govuk-body">You can only apply for this scheme if you live in England, Wales or Northern Ireland.</p>
<p class="govuk-body">If you live in Scotland you can <a href="https://www.mygov.scot/best-start-grant-new/">apply for Best Start Foods.</a></p>
