{% from "table/macro.njk" import govukTable %}

<h1 class="govuk-heading-xl">
  Privacy notice
</h1>


<p class="govuk-body">The Apply for Healthy Start service is operated by the Department of Health and Social Care (DHSC).</p>

<p class="govuk-body">DHSC is the data controller of your personal data (information). A data controller determines how and why data is processed.
  We need to process your data to operate the Apply for Healthy Start service.</p>

<p class="govuk-body">
  You can read the <a href="https://www.gov.uk/government/organisations/department-of-health-and-social-care/about/personal-information-charter" target="_blank">
  DHSC personal data charter</a> for more information.</p>

<p class="govuk-body">Our cookie notice explains how our service will interact with your device.</p>

<h2 class="govuk-heading-m">
  What data we collect and why we need it
</h2>

{{ govukTable({
  firstCellIsHeader: true,
  head: [
    {
      text: "Your data"
    },
    {
      text: "Why we need it?"
    }
  ],
  rows: [
    [
      {
        text: "Name"
      },
      {
        text: "To check your eligibility and create your prepaid card account"
      }
    ],
    [
      {
        text: "National Insurance Number"
      },
      {
        text: "To check your eligibility"
      }
    ],
    [
      {
        text: "Date of birth"
      },
      {
        text: "To check your eligibility and to create your prepaid card account"
      }
    ],
    [
      {
        text: "Address"
      },
      {
        text: "To check your eligibility and to send you your prepaid card"
      }
    ],
    [
      {
        text: "Contact details"
      },
      {
        text: "To create and activate your prepaid card account and send you updates about the service"
      }
    ]
  ]
}) }}

<h2 class="govuk-heading-m">What we do with your data</h2>
<p class="govuk-body">The data we collect may be shared with other relevant government departments, agencies and public bodies associated with the service.</p>

<p class="govuk-body">It may also be shared with our technology suppliers, for example our hosting provider.</p>

<p class="govuk-body">We will share your data if we are required to do so by law – for example, by a court order, or to prevent fraud or other crime.</p>

<p class="govuk-body">We will not:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>sell or rent your data to third parties</li>
  <li>share your data with third parties for marketing purposes</li>
</ul>

<h2 class="govuk-heading-m">Sharing your data with allpay</h2>
<p class="govuk-body">Your prepaid money card will be provided by allpay Limited. For this reason we must share some of your data with them.</p>

<p class="govuk-body">We share all your data with them except your National Insurance number. This is so they can:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>confirm your identity and address</li>
  <li>create and send your card or replacement cards</li>
  <li>send you information about any service changes</li>
</ul>

<p class="govuk-body">
  You should read
  <a href="https://www.allpay.net/privacy-statement/" target="_blank"> allpay's privacy statement</a>
  to find out what it does with your information.
</p>

<h2 class="govuk-heading-m">How we protect your data and keep it secure</h2>
<p class="govuk-body">
  Your data will be stored on secure servers in the UK and the
  <a href="https://www.gov.uk/eu-eea" target="_blank">European Economic Area</a>.
</p>

<h2 class="govuk-heading-m">How long we keep your data</h2>
<p class="govuk-body">We will only retain your personal data for as long as:<p>

<ul class="govuk-list govuk-list--bullet">
  <li>the law requires us to</li>
  <li>we need it to deliver your payment via the Apply for Healthy Start service</li>
</ul>

<p class="govuk-body">We will delete your data after this.<p>

<h2 class="govuk-heading-m">Children’s privacy protection</h2>
<p class="govuk-body">We will not collect or store data about anyone under the age of 13.<p>

<h2 class="govuk-heading-m">Your rights</h2>
<p class="govuk-body">You have the right to:<p>

<ul class="govuk-list govuk-list--bullet">
<li>see what data we hold about you (a right of access request)</li>
<li>ask us to stop using your data but keep it on record</li>
<li>have some or all of your data deleted</li>
<li>have some or all of your data corrected</li>
  </ul>

<p class="govuk-body">If you have any of these requests, email the Information Asset Owner at
  <a href="mailto:nhsbsa.applyforhealthystart@nhsbsa.nhs.uk" target="_blank">nhsbsa.applyforhealthystart@nhsbsa.nhs.uk</a>.
</p>

<p class="govuk-body">
  If you ask us to delete your data you will no longer have access to the Apply for Healthy Start service. This means your entitlement (money) will stop.
</p>

<p class="govuk-body">
  You can apply for the
  <a href="https://www.healthystart.nhs.uk/healthy-start-vouchers/how-to-apply/" target="_blank">Healthy Start voucher scheme</a>
  instead if you choose.
</p>

<h2 class="govuk-heading-m">Contact us or make a complaint</h2>
<p class="govuk-body">Contact our Data Protection Officer if you:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>have a question about anything in this privacy notice</li>
  <li>think that your personal data has been misused or mishandled</li>
</ul>

<div class="c-htbhf-inset">
  <p>
    The Information Commissioner<br>
    Wycliffe House<br>
    Water Lane<br>
    Wilmslow<br>
    Cheshire SK9 5AF<br>
    Telephone: 0303 123 1113<br>
    Website: <a href="https://ico.org.uk/">ico.org.uk</a><br>
  </p>
</div>
