<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        If you do not comply with these terms and conditions, your payment may be stopped. You may also be asked to repay money you have received.
    </strong>
</div>

<h3 class="govuk-heading-m">About your application</h3>

<p class="govuk-body">By submitting your application you confirm that the information you have provided is correct.</p>

<p class="govuk-body">You agree that the Department of Health and Social Care can share information about you with other organisations to check that the information you have given is correct.</p>

<p class="govuk-body">You understand that if you are claiming payments you know you are not entitled to, your payments will be stopped and you may be asked to pay back any money you should not have received.</p>


<h3 class="govuk-heading-m">Using your card</h3>

<p class="govuk-body">You must only use your prepaid card to <a href=”related/how-to-buy-with-prepaid-card” target="_blank">buy eligible items (link opens in a new tab)</a>.<p class="govuk-body">

<p class="govuk-body">You are responsible for all spending on your prepaid card, even if you let someone else use it.</p>

<p class="govuk-body">If your card is lost or stolen you must report it immediately by following the instructions we will include with your card. If you do not tell the card company straight away, we may not be able to give you back the balance that was on your card. We may also have to take a small administration fee from your card balance to cover costs.</p>

<p class="govuk-body">If you need more than 4 replacement cards in a year, a small administration fee may be taken from your card balance to cover costs.</p>

<p class="govuk-body">If you do not spend your payment within 8 weeks of it being added to your card, your payments will be paused. You must spend the full amount for payments to start again.</p>

<h3 class="govuk-heading-m">About your personal information</h3>

<p class="govuk-body">You must let us know if your contact information, address or circumstances change. If you are on any benefits, you must let the relevant agency know too.</p>

<p class="govuk-body">You must <a href=”privacy-notice” target="_blank">read and agree to our privacy statement (link opens in a new tab)</a>. This explains why we need to ask you for personal information, where we will store it, and who we need to share it with.</p>

<p class="govuk-body">You agree that the Department of Health and Social Care has the right to ask retailers for transaction receipts when you shop. This helps us to prevent fraud.</p>
