{% extends "templates/form.njk" %}
{% from "radios/macro.njk" import govukRadios %}
{% from "macros/htbhf-date-input.njk" import htbhfDateInput %}

{% set eddHtml %}
{{ htbhfDateInput({
  fieldNamePrefix: "expectedDeliveryDate",
  claim: claim,
  errors: errors,
  legend: {
    text: expectedDeliveryDateText
  },
  hint: {
    text: expectedDeliveryDateHint
  }
}) }}
{% endset -%}

{% block formContent %}
    {{ govukRadios({
      id: "are-you-pregnant",
      name: "areYouPregnant",
      fieldset: {
        legend: {
          text: heading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      errorMessage: errors | getErrorForField('areYouPregnant'),
      items: [
        {
          value: "yes",
          text: yes,
          checked : claim.areYouPregnant === "yes",
          conditional: {
            html: eddHtml
          }
        },
        {
          value: "no",
          text: no,
          checked : claim.areYouPregnant === "no"
        }
      ]
    }) }}
{% endblock %}
