{% extends "templates/form.njk" %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "radios/macro.njk" import govukRadios %}

{% block formContent %}
    {{ govukRadios({
      id: "are-you-pregnant",
      name: "are-you-pregnant",
      fieldset: {
        legend: {
          text: heading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
        {
          value: yes,
          text: yes
        },
        {
          value: yes,
          text: no
        }
      ]
    }) }}
{% endblock %}
