{% extends "templates/form.njk" %}
{% from "input/macro.njk" import govukInput %}
{% from "table/macro.njk" import govukTable %}
{% from "fieldset/macro.njk" import govukFieldset %}

{% set buttonText = buttonText %}
{% block formContent %}
  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}

  {% endcall %}
  {{ govukTable({
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: name
          },
          {
            text:  [claim.firstName, claim.lastName] | join(' ')
          }
        ],
        [
          {
            text: nino
          },
          {
            text: claim.nino
          }
        ],
        [
          {
            text: dateOfBirth
          },
          {
            text: [claim['dateOfBirth-day'], claim['dateOfBirth-month'], claim['dateOfBirth-year']] | join(' ')
          }
        ],
        [
          {
            text: areYouPregnant
          },
          {
            text: claim.areYouPregnant
          }
        ],
        expectedDeliveryDateRow,
        [
          {
            text: address
          },
          {
            text: [
              claim.addressLine1,
              claim.addressLine2,
              claim.townOrCity,
              claim.postcode
            ] | join('<br/>') | safe
          }
        ]
      ]
  }) }}

  <h2 class="govuk-heading-m">{{ sendApplicationHeader }}</h2>
  <p class="govuk-body">{{ sendApplicationText }}</p>

{% endblock %}


