{% extends "templates/form.njk" %}
{% from "input/macro.njk" import govukInput %}
{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "fieldset/macro.njk" import govukFieldset %}

{% set safeRows = [] %}
{% for heading, content in checkRowData %}
  {% set row = {
   key : {
    text: heading.text
   },
   value: {
    text: content.text | escape | nl2br | safe
   }
  } %}
  {{ safeRows.push(row) }}
{% endfor %}

{% set buttonText = buttonText %}
{% block formContent %}
  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}

  {% endcall %}
  {{ govukSummaryList({
      rows: safeRows
  }) }}

  <h2 class="govuk-heading-m">{{ sendApplicationHeader }}</h2>
  <p class="govuk-body">{{ sendApplicationText }}</p>

{% endblock %}
