{% extends "templates/page.njk" %}
{% from "macros/htbhf-summary-list.njk" import htbhfSummaryList %}

{% block pageContent %}

  <h1 class="govuk-heading-xl">{{ heading }}</h1>

  {% for list, listRows in checkRowData %}
    {{ htbhfSummaryList({
      classes: 'govuk-!-margin-bottom-9',
      listRows: listRows,
      text: {
        heading: summaryListHeadings[list],
        change: changeText
      }
    }) }}
  {% endfor %}

  {{ govukButton({
      text: buttonText,
      href: "/terms-and-conditions",
      attributes: {
        id: 'submit-button'
      }
  }) }}

{% endblock %}
