{% extends "templates/page.njk" %}
{% from "macros/htbhf-summary-list.njk" import htbhfSummaryList %}
{% from "macros/htbhf-children-summary-list.njk" import htbhfChildrenSummaryList %}

{% set childrenExist = childrensDatesOfBirthRows | length %}

{% block pageContent %}

  <h1 class="govuk-heading-xl">{{ heading }}</h1>

  <div id="claim-summary">
    {% for list, listRows in claimSummaryLists %}
      {% set classes %}
        {% if loop.last and childrenExist %} govuk-!-margin-bottom-1 {% else %} govuk-!-margin-bottom-9 {% endif %}
      {% endset %}

      {{ htbhfSummaryList({
        classes: classes,
        listRows: listRows,
        text: {
          heading: summaryListHeadings[list],
          change: changeText
        }
      }) }}
    {% endfor %}
  </div>
  {% if childrenExist %}
    <div id="children-summary">
      {{ htbhfChildrenSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: childrensDatesOfBirthRows,
        action: {
          href: "/child-date-of-birth",
          text: changeText,
          visuallyHiddenText: childrensDobHiddenText
        }
      }) }}
    </div>
  {% endif %}

  {{ govukButton({
      text: buttonText,
      href: "/terms-and-conditions",
      attributes: {
        id: 'submit-button'
      }
  }) }}

{% endblock %}
