{% extends "templates/form.njk" %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "macros/htbhf-child-dob-input.njk" import htbhfChildDobInput %}
{% from "inset-text/macro.njk" import govukInsetText %}

{% block formContent %}

  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}

  {%  for i in range(0, children.inputCount) %}
    {{ htbhfChildDobInput({
      index: i + 1,
      children: children,
      hint: hint,
      nameLabel: nameLabel,
      errors: errors,
      showRemoveButton: children.inputCount > 1,
      text: {
        legend: aboutYourChild,
        dateLegend: dateOfBirth,
        removeButton: removeChild
      }
    }) }}
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  {% endfor %}

  {% endcall %}

  <input class="c-htbhf-button c-htbhf-button--link u-htbhf-focus" type="submit" value="{{ addChild }}" name="add" id="add-another-child">

{{ govukInsetText({
  text: explanation
}) }}

{% endblock %}
