{% extends "templates/form.njk" %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "macros/htbhf-child-dob-input.njk" import htbhfChildDobInput %}
{% from "inset-text/macro.njk" import govukInsetText %}

{% block formContent %}

  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}

  {%  for i in range(0, children.inputCount) %}
    {{ htbhfChildDobInput({
      index: i + 1,
      children: children,
      dateOfBirth: dateOfBirth,
      hint: hint,
      nameLabel: nameLabel,
      errors: errors,
      aboutYourChild: aboutYourChild
    }) }}
  {% endfor %}

  {% endcall %}

{{ govukInsetText({
  text: explanation
}) }}

{% endblock %}
