{% extends "templates/form.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "macros/htbhf-date-input.njk" import htbhfDateInput %}


{% block formContent %}
  {{ htbhfDateInput({
    fieldNamePrefix: "dateOfBirth",
    claim: claim,
    errors: errors,
    legend: {
      text: heading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    },
    hint: {
      text: hint
    }
  }) }}

{{ govukInsetText({
  text: explanation
}) }}

{% endblock %}
