{% extends "templates/form.njk" %}
{% from "radios/macro.njk" import govukRadios %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "macros/htbhf-form-description.njk" import htbhfFormDescription %}

{% block formContent %}

  {{ govukRadios({
      classes: "govuk-radios--inline",
      id: "do-you-have-children",
      name: "doYouHaveChildren",
      hint: {
        html: htbhfFormDescription(formDescription)
      },
      fieldset: {
        legend: {
          text: heading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      errorMessage: errors | getErrorForField('doYouHaveChildren'),
      items: [
        {
          value: "yes",
          text: yes,
          checked : claim.doYouHaveChildren === "yes"
        },
        {
          value: "no",
          text: no,
          checked : claim.doYouHaveChildren === "no"
        }
      ]
    }) }}

    {{ govukInsetText({
      text: explanation
    }) }}
{% endblock %}
