{% extends "templates/form.njk" %}
{% from "input/macro.njk" import govukInput %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "details/macro.njk" import govukDetails %}
{% from "hint/macro.njk" import govukHint %}
{% from "inset-text/macro.njk" import govukInsetText %}


{% block formContent %}

  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}

    {{ govukHint({
          text: hint
    }) }}

    {{ govukInput({
      label: {
        text: emailAddressLabel
      },
      id: 'email-address',
      name: 'emailAddress',
      value: claim.emailAddress,
      errorMessage: errors | getErrorForField('emailAddress'),
      type: "email",
      autocomplete: "email",
      attributes: {
        spellcheck: "false"
      }
    }) }}

  {% endcall %}

  {{ govukInsetText({
    text: explanation
  }) }}

{% endblock %}
