{% extends "templates/form.njk" %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "macros/htbhf-date-input.njk" import htbhfDateInput %}

{% block formContent %}
  {{ htbhfDateInput({
    fieldNamePrefix: "dateOfBirth",
    errors: errors,
    legend: {
      text: heading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    },
    hint: {
      text: hint
    }
  }) }}
{% endblock %}
