{% extends "templates/form.njk" %}
{% from "input/macro.njk" import govukInput %}
{% from "fieldset/macro.njk" import govukFieldset %}

{% block formContent %}

  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}

    <p class="govuk-body">{{ formDescription }}</p>

    {{ govukInput({
      label: {
        text: firstNameLabel
      },
      id: 'first-name',
      name: 'firstName',
      value: claim.firstName,
      errorMessage: errors | getErrorForField('firstName'),
      autocomplete: "off"
    }) }}

    {{ govukInput({
      label: {
        text: lastNameLabel
      },
      id: 'last-name',
      name: 'lastName',
      value: claim.lastName,
      errorMessage: errors | getErrorForField('lastName'),
      autocomplete: "off"
    }) }}

  {% endcall %}

{% endblock %}
