{% extends "templates/form.njk" %}
{% from "input/macro.njk" import govukInput %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "details/macro.njk" import govukDetails %}

{% set buttonText = buttonText %}
{% block formContent %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: errorSummaryText,
      errorList: errors | toErrorList
    }) }}
  {% endif %}

  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}

    {{ govukInput({
      label: {
        text: ninoLabel
      },
      hint: {
        text: hint
      },
      classes: "govuk-input--width-10",
      id: "nino",
      name: "nino",
      value: claim.nino,
      errorMessage: errors | getErrorForField('nino')
    }) }}

  {% endcall %}

  {{ govukDetails({
      summaryText: detail.summaryText,
      text: detail.text | safe
  }) }}

{% endblock %}
