{% extends "templates/form.njk" %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "date-input/macro.njk" import govukDateInput %}

{% set buttonText = buttonText %}

{% set items = [
  {
    id: 'day',
    name: 'day',
    label: dayLabel,
    classes: 'govuk-input--width-2'
  },
  {
    id: 'month',
    name: 'month',
    label: monthLabel,
    classes: 'govuk-input--width-2'
  },
  {
    id: 'year',
    name: 'year',
    label: yearLabel,
    classes: 'govuk-input--width-4'
  }
] %}

{% block formContent %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors | toErrorList
    }) }}
  {% endif %}

  {{ govukDateInput({
    id: "dob",
    namePrefix: "dob",
    items: items,
    fieldset: {
      legend: {
        text: heading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: hint
    }
  }) }}
{% endblock %}
