{% extends "templates/form.njk" %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "date-input/macro.njk" import govukDateInput %}

{% set buttonText = buttonText %}
{% set errorClass = '' %}
{% if errors %}
  {% set errorClass = ' govuk-input--error' %}
{% endif %}

{% set items = [
  {
    id: 'day',
    name: 'day',
    label: dayLabel,
    classes: 'govuk-input--width-2' + errorClass,
    value: claim['dateOfBirth-day']
  },
  {
    id: 'month',
    name: 'month',
    label: monthLabel,
    classes: 'govuk-input--width-2' + errorClass,
    value: claim['dateOfBirth-month']
  },
  {
    id: 'year',
    name: 'year',
    label: yearLabel,
    classes: 'govuk-input--width-4' + errorClass,
    value: claim['dateOfBirth-year']
  }
] %}

{% block formContent %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors | toErrorList
    }) }}
  {% endif %}

  {{ govukDateInput({
    id: "date-of-birth",
    namePrefix: "dateOfBirth",
    items: items,
    errorMessage: errors | getErrorForField('dob'),
    fieldset: {
      legend: {
        text: heading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: hint
    }
  }) }}
{% endblock %}
