{% extends "templates/form.njk" %}
{% from "input/macro.njk" import govukInput %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "fieldset/macro.njk" import govukFieldset %}

{% set buttonText = buttonText %}
{% block formContent %}

  {{ govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) }}
  <p class="govuk-body">{{ formDescription }}</p>

  {% if errors %}
    {{ govukErrorSummary({
      titleText: errorSummaryText,
      errorList: errors | toErrorList
    }) }}
  {% endif %}

  {{ govukInput({
    label: {
      text: firstNameLabel
    },
    id: 'first-name',
    name: 'firstName',
    value: claim.firstName,
    errorMessage: errors | getErrorForField('firstName')
  }) }}
  {{ govukInput({
    label: {
      text: lastNameLabel
    },
    id: 'last-name',
    name: 'lastName',
    value: claim.lastName,
    errorMessage: errors | getErrorForField('lastName')
  }) }}
{% endblock %}
