{% extends "templates/form.njk" %}
{% from "input/macro.njk" import govukInput %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "macros/htbhf-form-description.njk" import htbhfFormDescription %}

{% block formContent %}
    {% call govukFieldset({
      legend: {
        text: heading,
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}

        {{ htbhfFormDescription(formDescription) }}

    {{ govukInput({
      label: {
            html: buildingAndStreetLabel + '<span class="govuk-visually-hidden">' + buildingAndStreetLine1of2 + '</span>'
      },
      id: "address-line-1",
      name: "addressLine1",
      errorMessage: errors | getErrorForField('addressLine1'),
      value: claim.addressLine1,
      autocomplete: "off",
      hint: {
            text: hint
        }
    }) }}
   {{ govukInput({
      label: {
           html: '<span class="govuk-visually-hidden">' + buildingAndStreetLine2of2 + '</span>'
      },
      id: "address-line-2",
      name: "addressLine2",
      errorMessage: errors | getErrorForField('addressLine2'),
      value: claim.addressLine2,
      autocomplete: "off"
    }) }}
   {{ govukInput({
      label: {
        text: townOrCityLabel
      },
      classes: "govuk-!-width-two-thirds",
      id: "town-or-city",
      name: "townOrCity",
      errorMessage: errors | getErrorForField('townOrCity'),
      value: claim.townOrCity,
      autocomplete: "off"
    }) }}
   {{ govukInput({
       label: {
       text: countyLabel
       },
       classes: "govuk-!-width-two-thirds",
       id: "county",
       name: "county",
       errorMessage: errors | getErrorForField('county'),
       value: claim.county,
       autocomplete: "off"
   }) }}
   {{ govukInput({
      label: {
        text: postcodeLabel
      },
      classes: "govuk-input--width-10",
      id: "postcode",
      name: "postcode",
      errorMessage: errors | getErrorForField('postcode'),
      value: claim.postcode,
      autocomplete: "off"
    }) }}

    {% endcall %}

    {{ govukInsetText({
        text: explanation
    }) }}
{% endblock %}
