{% extends "templates/form.njk" %}
{% from "input/macro.njk" import govukInput %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "macros/htbhf-form-description.njk" import htbhfFormDescription %}

{% block formContent %}
    {% call govukFieldset({
      legend: {
        text: heading,
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}

        {{ htbhfFormDescription(formDescription) }}

    {{ govukInput({
      label: {
        text: houseNumberOrNameLabel
      },
      id: "address-line-1",
      name: "addressLine1",
      errorMessage: errors | getErrorForField('addressLine1'),
      value: claim.addressLine1,
      autocomplete: "off"
    }) }}
   {{ govukInput({
      label: {
           text: streetLabel
      },
      id: "address-line-2",
      name: "addressLine2",
      errorMessage: errors | getErrorForField('addressLine2'),
      value: claim.addressLine2,
      autocomplete: "off"
    }) }}
   {{ govukInput({
      label: {
        text: townOrCityLabel
      },
      classes: "govuk-!-width-two-thirds",
      id: "town-or-city",
      name: "townOrCity",
      errorMessage: errors | getErrorForField('townOrCity'),
      value: claim.townOrCity,
      autocomplete: "off"
    }) }}
   {{ govukInput({
      label: {
        text: postcodeLabel
      },
      classes: "govuk-input--width-10",
      id: "postcode",
      name: "postcode",
      errorMessage: errors | getErrorForField('postcode'),
      value: claim.postcode,
      autocomplete: "off"
    }) }}

    {% endcall %}

    {{ govukInsetText({
        text: explanation
    }) }}
{% endblock %}
