{% extends "templates/form.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block formContent %}

  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}

    {{ govukInput({
      label: {
        text: ninoLabel
      },
      hint: {
        text: hint
      },
      classes: "govuk-input--width-10",
      id: "nino",
      name: "nino",
      value: claim.nino,
      errorMessage: errors | getErrorForField('nino'),
      autocomplete: "off"
    }) }}

  {% endcall %}

  {{ govukInsetText({
    text: explanation
  }) }}

{% endblock %}
