{% extends "templates/form.njk" %}
{% from "input/macro.njk" import govukInput %}

{% block formContent %}
  {{ govukInput({
    label: {
      text: 'First name'
    },
    id: 'first-name',
    name: 'firstName',
    errorMessage: null
  }) }}
  {{ govukInput({
    label: {
      text: 'Last name'
    },
    id: 'last-name',
    name: 'lastName',
    errorMessage: null
  }) }}
{% endblock %}
