{% extends "templates/form.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block formContent %}
    {{ govukRadios({
      classes: "govuk-radios--inline",
      id: "scotland",
      name: "scotland",
      fieldset: {
        legend: {
          text: heading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      errorMessage: errors | getErrorForField('scotland'),
      items: [
        {
          value: "yes",
          text: yes,
          checked : claim.scotland === "yes"
        },
        {
          value: "no",
          text: no,
          checked : claim.scotland === "no"
        }
      ]
    }) }}
{% endblock %}
