{% extends "templates/form.njk" %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "select/macro.njk" import govukSelect %}
{% from "macros/htbhf-form-description.njk" import htbhfFormDescription %}

{% set buttonText = enterManualAddress if (addresses | length === 0) else continue %}

{% block formContent %}

    {% call govukFieldset({
        legend: {
            text: heading,
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
        }
    }) %}

        {{ htbhfFormDescription(formDescription) }}

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">{{ postcodeLabel }}</h2>
        <div class="govuk-body govuk-!-margin-bottom-6">
            <strong class="govuk-!-margin-right-4">{{ claim.postcode | upper }}</strong>
            <a class="govuk-link" href="/postcode">{{ change }}</a>
        </div>

        {% if addresses | length === 0 %}
            <h2 class="govuk-heading-m">{{ addressNotFound }}</h2>
        {% else %}
            {{ govukSelect({
                id: "address-results",
                name: "address-results",
                label: {
                    html: '<span class="govuk-heading-m govuk-!-margin-bottom-2">' + selectAddressLabel + '</span>'
                },
                items: addresses
            }) }}
        {% endif %}

    {% endcall %}

    {{ govukInsetText({
        text: explanation
    }) }}

{% endblock %}
