{% extends "templates/form.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block formContent %}
    {{ govukRadios({
        id: "channel-for-code",
        idPrefix: "channel-for-code",
        name: "channelForCode",
        fieldset: {
            legend: {
                text: heading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
            }
        },
        errorMessage: errors | getErrorForField('channelForCode'),
        items: [
            {
                value: "text",
                text: text,
                checked : claim.channelForCode === "text",
                hint: {
                    html: claim.phoneNumber + " <a class=\"govuk-link\" href=\"/phone-number\" id=\"change-text\" class=\"govuk-!-margin-left-2\">" + change + "</a>"
                }
            },
            {
                value: "email",
                text: email,
                checked : claim.channelForCode === "email",
                hint: {
                    html: claim.emailAddress + " <a class=\"govuk-link\" href=\"/email-address\" id=\"change-email\" class=\"govuk-!-margin-left-2\">" + change + "</a>"
                }
            }
        ],
        hint: {
            text: hint
        }
    }) }}

    {{ govukInsetText({
        text: explanation
    }) }}
{% endblock %}
