{% extends "templates/form.njk" %}
{% from "radios/macro.njk" import govukRadios %}
{% from "inset-text/macro.njk" import govukInsetText %}

{% block formContent %}
    {{ govukRadios({
        id: "channel-for-code",
        name: "channelForCode",
        fieldset: {
            legend: {
                text: heading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
            }
        },
        errorMessage: errors | getErrorForField('channelForCode'),
        items: [
            {
                value: "text",
                text: text,
                checked : claim.channelForCode === "text",
                conditional: {
                html: eddHtml
            }
            },
            {
                value: "email",
                text: email,
                checked : claim.channelForCode === "email"
            }
        ],
        hint: {
            text: hint
        }
    }) }}

    {{ govukInsetText({
        text: explanation
    }) }}
{% endblock %}
