{% extends "templates/page.njk" %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% block pageContent %}
  <h1 class="govuk-heading-xl">{{ heading }}</h1>
  <p class="govuk-body">Healthy Start is here to help you give your family the very best start in life.</p>
  <p class="govuk-body">If you are pregnant or have a child under the age of four and you or your family are receiving a qualifying benefit, Healthy Start can provide a prepaid debit card that can help you pay for milk, fresh or frozen fruit, fresh or frozen vegetables and infant formula milk.</p>
  <p class="govuk-body">You can use your Healthy Start card in over 30,000 shops in the UK.</p>
  <p class="govuk-body">It takes around 10 minutes to apply.</p>

  {{ govukButton({
    text: "Start now",
    href: "/enter-name",
    classes: "govuk-button--start govuk-!-margin-bottom-8"
  }) }}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-7">
  <h2 class="govuk-heading-l">How to claim</h2>
  <p class="govuk-body">You can apply for Healthy Start online.</p>
  <p class="govuk-body">Before you start</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>you can fill out this form with your health visitor or midwife</li>
    <li>you can apply on behalf of your partner</li>
    <li>you can apply on behalf of your daughter if they are under 18 years old and pregnant</li>
    <li>the online service is also available in Welsh (Cymraeg)</li>
    <li>you can’t register for this service if you’re in the UK illegally</li>
  </ul>
  <p class="govuk-body">You’ll need:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your National Insurance number</li>
    <li>the National Insurance number of your partner, parent/guardian, and parent/guardians partner if they live with you</li>
    <li>details of the benefits your household receives</li>
    <li>expected due date (if pregnant)</li>
  </ul>

  <p class="govuk-body">If you do not have a National Insurance number,
    please <a href="https://www.gov.uk/lost-national-insurance-number" class="govuk-link">visit this GOV.UK help page</a>.
  </p>

  <p class="govuk-body">Your details must match the information you gave us when you applied for any other benefits.
    You can find out why and how we will process your data by <a href="/privacy-notice">reading our privacy notice</a>.
  </p>
{% endblock %}
