{% extends "templates/page.njk" %}
{% from "panel/macro.njk" import govukPanel %}

{% block pageContent %}
    {{ govukPanel({
        titleText: title,
        html: subTitle | nl2br | safe,
        classes: "govuk-!-margin-bottom-5"
    }) }}

    {% include "locales/" + language + "/unsuccessful/" + eligibilityStatus + ".html" %}

{% endblock %}
