{% from "summary-list/macro.njk" import govukSummaryList %}

{#
  htbhfChildDobInput() Wraps the GOV.UK summary list component to provide a single action for multiple
  summary list rows
#}
{% macro htbhfChildrenSummaryList(params) %}
  {% set childRows = [] %}

  {% for i in range(0, params.children.childCount) %}
    {% set index = i + 1 %}
    {% set actions = [] %}

    {% set name = {
      key : {
        text: 'Name'
      },
      value: {
        text: params.children['childDobName-' + index]
      }
    } %}

    {% set dateOfBirth = {
      key : {
        text: 'Date of birth'
      },
      value: {
        text: params.children['childDob-' + index]
      }
    } %}

    {% set childRowsLength = childRows.push(name) %}
    {% set childRowsLength = childRows.push(dateOfBirth) %}
  {% endfor %}

  <div class="c-htbhf-children-summary-list">
    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border ' + params.classes,
      rows: childRows
    }) }}
    <div class="c-htbhf-children-summary-list__action">
      <a href="{{ params.action.href }}" class="govuk-link">
        {{ params.action.text }}<span class="govuk-visually-hidden"> {{ params.action.visuallyHiddenText }}</span>
      </a>
    </div>
  </div>
{% endmacro %}
