{% from "date-input/macro.njk" import govukDateInput %}

{#
  htbhfDateInput() wraps govukDateInput() providing custom error handling
  for the three fields (day / month / year)

  params:
  fieldNamePrefix: string
  claim: object (associates user entered values with date fields)
  errors: array (provided by express-validator)
  legend: object (see govukDateInput macro params)
  hint: object (see govukDateInput macro params)
#}
{% macro htbhfDateInput(params) %}
{% set errorMessage = params.errors | getErrorForField(params.fieldNamePrefix) %}
{% set errorClass = ' govuk-input--error' if errorMessage else '' %}

{% set items = [
  {
    id: params.fieldNamePrefix + '-day',
    name: 'day',
    label: dayLabel,
    classes: 'govuk-input--width-2' + errorClass,
    value: params.claim[params.fieldNamePrefix + '-day']
  },
  {
    id: params.fieldNamePrefix + '-month',
    name: 'month',
    label: monthLabel,
    classes: 'govuk-input--width-2' + errorClass,
    value: params.claim[params.fieldNamePrefix + '-month']
  },
  {
    id: params.fieldNamePrefix + '-year',
    name: 'year',
    label: yearLabel,
    classes: 'govuk-input--width-4' + errorClass,
    value: params.claim[params.fieldNamePrefix + '-year']
  }
] %}

{{ govukDateInput({
  id: params.fieldNamePrefix | camelToKebabCase,
  namePrefix: params.fieldNamePrefix,
  items: items,
  errorMessage: errorMessage,
  fieldset: {
    legend: params.legend
  },
  hint: params.hint
}) }}
{% endmacro %}
