{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{#
  htbhfChildDobInput() Wraps the GOV.UK summary list component to provide a single action for multiple
  summary list rows
#}
{% macro htbhfChildrenSummaryList(params) %}
  <div class="c-htbhf-children-summary-list">
    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border ' + params.classes,
      rows: params.rows
    }) }}
    <div class="c-htbhf-children-summary-list__action">
      <a href="{{ params.action.href }}" class="govuk-link">
        {{ params.action.text }}<span class="govuk-visually-hidden"> {{ params.action.visuallyHiddenText }}</span>
      </a>
    </div>
  </div>
{% endmacro %}
