{% from "fieldset/macro.njk" import govukFieldset %}
{% from "macros/htbhf-date-input.njk" import htbhfDateInput %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{#
  htbhfChildDobInput() contains a text input for a child's name and a htbhf-date-input for
  the child's dob.
#}

{% macro htbhfChildDobInput(params) %}

  <div class="c-htbhf-child-dob-input">

    {% call govukFieldset({
        legend: {
          text: params.text.legend,
          classes: "govuk-fieldset__legend--m"
        }
     }) %}

      {{ govukInput({
        label: {
          text: params.nameLabel
        },
        id: 'childDob-name-' + params.index,
        name: 'childDobName-' + params.index,
        value: params.children['childDobName-'  + params.index],
        errorMessage: params.errors | getErrorForField('childDobName-'  + params.index),
        autocomplete: "off"
      }) }}

    {% endcall %}

    {{ htbhfDateInput({
      fieldNamePrefix: "childDob-" + params.index,
      claim: params.children,
      errors: params.errors,
      hint: {
        text: params.hint
      },
      legend: {
        text: params.text.dateLegend,
        classes: "govuk-fieldset__legend--m"
      }
    }) }}

    {% if params.showRemoveButton %}
      <div class="c-htbhf-child-dob-input__remove-button">
        {{ govukButton({
          text: params.text.removeButton,
          classes: "govuk-button--secondary",
          type: "submit",
          value: params.index,
          name: "remove",
          attributes: {
            id: "remove-child-" + params.index
          }
        }) }}
      </div>
    {% endif %}
  </div>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
{% endmacro %}
