{% extends "templates/page.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageContent %}

  {{ govukPanel({
    titleText: title,
    html: body,
    classes: "govuk-!-margin-bottom-5"
  }) }}

  {% include "../locales/" + language + "/decision/failure.njk" %}

{% endblock %}
