/**
 * Defensively set defaults for GOV.UK settings used in HTBHF components
 */

$govuk-link-colour: #005ea5 !default;
$govuk-link-hover-colour: #2b8cc4 !default;
$govuk-link-active-colour:	#2b8cc4 !default;
$govuk-focus-colour: #ffbf47 !default;
