{% extends "../../templates/guidance.njk" %}

{% block guidanceContent %}
<h2 class="govuk-heading-l">Apply for Healthy Start</h2>

<p class="govuk-body">It only takes about 5 minutes to apply.</p>
<p class="govuk-body">Before you apply you will need your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>National Insurance number</li>
  <li>baby’s due date if you’re pregnant</li>
  <li>contact details which should match those registered with the benefits agencies (if you claim benefits)</li>
</ul>

{{ govukButton({
    text: "Apply now",
    href: "/do-you-live-in-scotland",
    classes: "govuk-button--start govuk-!-margin-bottom-8"
  })
}}

{% endblock %}
