{% extends "../../templates/guidance.njk" %}

{% block guidanceContent %}
<h2 class="govuk-heading-l">What you can buy</h2>

<p class="govuk-body">You’re only allowed to buy certain types of milk, infant formula, fruit and vegetables.</p>

<h3 class="govuk-heading-m">Plain cow’s milk</h3>
<p class="govuk-body">This can be skimmed, semi-skimmed or whole cow’s milk.</p>
<p class="govuk-body">It cannot be:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>flavoured</li>
  <li>coloured</li>
  <li>evaporated</li>
  <li>condensed</li>
  <li>goat’s</li>
  <li>soya</li>
  <li>powdered (unless it’s stage one infant formula)</li>
</ul>

<h3 class="govuk-heading-m">Infant formula</h3>
<p class="govuk-body">This must be: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>stage one only (first infant formula) </li>
  <li>made from cow’s milk</li>
  <li>nutritionally complete</li>
</ul>

<p class="govuk-body">Look for ‘complete nutrition’, ‘from birth’, ‘from birth to 6 months’, or ‘from birth to 12 months’ on the label.</p>

<p class="govuk-body">It cannot be follow-on formula or milk (‘from 6 months’, or ‘from 6 to 12 months’).</p>

<h3 class="govuk-heading-m">Fruit and vegetables</h3>
<p class="govuk-body">These can be:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>fresh or frozen</li>
  <li>whole or chopped</li>
  <li>packaged or loose</li>
</ul>

<p class="govuk-body">They cannot:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>have added ingredients like fat (oil), salt, sugar or flavourings, such as oven chips and battered onion rings</li>
  <li>be dried, canned, juiced or pre-cooked</li>
  <li>be smoothies</li>
</ul>
{% endblock %}
