{% extends "../../templates/guidance.njk" %}

{% block guidanceContent %}
  <h2 class="govuk-heading-l">Eligibility</h2>
  <p class="govuk-body">You’ll qualify if either:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>you’re at least 10 weeks pregnant</li>
    <li>you have at least 1 child under 4 years old</li>
  </ul>
  <hr class="govuk-section-break govuk-section-break--m">
  <p class="govuk-body">You must also be receiving any of the following benefits:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Income Support</li>
    <li>income-based Jobseeker's Allowance</li>
    <li>income-related Employment and Support Allowance</li>
    <li>Child Tax Credit (but only if your family’s annual income is £16,190 or less)</li>
    <li>Universal Credit (but only if your family earns £408 or less per month from employment)</li>
    <li>Pension Credit</li>
  </ul>
  <hr class="govuk-section-break govuk-section-break--m">
  <p class="govuk-body">If you do not receive any benefits you can apply if you’re:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>under 18 and pregnant</li>
    <li>under 20, pregnant and in full-time education</li>
  </ul>
{% endblock %}
