{% extends "../../templates/guidance.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block guidanceContent %}
  <h2 class="govuk-heading-l">How it works</h2>
  <p class="govuk-body">If you’re pregnant or have a child under 4 years old, you could get money for milk, fruit and vegetables.</p>
  <p class="govuk-body">If you qualify (you’re eligible) you’ll be sent a money card (like a bank card) to use in some UK shops.</p>
  <p class="govuk-body">You can also get free vitamins.</p>

  {{ govukInsetText({
    html: 'If you live in Scotland you must apply for <a class="govuk-link" href="https://www.mygov.scot/best-start-grant-best-start-foods/">Best Start Foods</a> instead.'
  }) }}

  <p class="govuk-body">You usually qualify if you get certain benefits.</p>
  <p class="govuk-body">If you’re not on benefits you could still qualify if you’re:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>under 18 and pregnant</li>
    <li>under 20, pregnant and in full-time education</li>
  </ul>

  <h2 class="govuk-heading-l">If you’re already on the scheme</h2>
  <p class="govuk-body">You’ll no longer get milk and food vouchers. You need to apply for a Healthy Start money card instead.</p>
  <p class="govuk-body">It only takes about 5 minutes to apply. You no longer need a signature from your midwife or health visitor.</p>
  <p class="govuk-body">There are new rules about how <a class="govuk-link" href="/what-you-get#when-you-get-it">long you have to spend your money</a>.</p>

  <h2 class="govuk-heading-l">Get advice on healthy eating</h2>
  <p class="govuk-body">You can get advice on nutrition during pregnancy, birth and parenthood at <a class="govuk-link" href="https://www.nhs.uk/start4life">NHS Start 4 Life</a>.</p>
{% endblock %}
