{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "../../templates/guidance.njk" %}

{% block guidanceContent %}
<h2 class="govuk-heading-l">Report a change</h2>

<p class="govuk-body">You must always report a change in your circumstances or personal details. </p>

<p class="govuk-body">Changes you need to report include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a birth</li>
  <li>a new pregnancy</li>
  <li>change of name</li>
  <li>change of contact details</li>
</ul>

<hr class="govuk-section-break govuk-section-break--m">

<p class="govuk-body">This is to make sure you receive:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the right amount of money</li>
  <li>emails and letters about payments and changes</li>
  <li>replacement cards</li>
</ul>

<hr class="govuk-section-break govuk-section-break--m">

<p class="govuk-body">If you’re claiming any benefits you must also tell the <a class="govuk-link" href="https://www.gov.uk/report-benefits-change-circumstances"> benefit agencies</a> about these changes. </p>

{{ govukWarningText({
    html: "If you deliberately do not report changes to the benefit agencies, you’re committing <a class=\"govuk-link\" href=\"https://www.gov.uk/benefit-fraud\"> benefit fraud</a>.",
    iconFallbackText: "Warning"
}) }}

<h3 class="govuk-heading-m">Contact us</h3>
<p class="govuk-body">To report a change:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>call 0300 330 7010 and select option 3 </li>
  <li>or email <a class="govuk-link" href="mailto:nhsbsa.applyforhealthystart@nhsbsa.nhs.uk?subject=Report a change"> nhsbsa.applyforhealthystart@nhsbsa.nhs.uk</a></li>
</ul>

{% endblock %}
