{% extends "../../templates/guidance.njk" %}
{% from "inset-text/macro.njk" import govukInsetText %}

{% block guidanceContent %}
<h2 class="govuk-heading-l">What you’ll get</h2>

<p class="govuk-body">If you qualify you get:</p>

<ul class="govuk-list govuk-list--bullet">
 <li>£3.10 each week for a pregnancy</li>
  <li>£6.20 each week for children from birth to 1 year old </li>
  <li>£3.10 each week for children between 1 and 4 years old</li>
</ul>

{{ govukInsetText({
    text: "The money will stop when your child is 4 years old or if you no longer receive benefits."
}) }}

<hr class="govuk-section-break govuk-section-break--l">

<h2 class="govuk-heading-l">When you’ll get it</h2>

<p class="govuk-body">The money will be added to your card every 4 weeks.</p>
<p class="govuk-body">You can only spend whatever is on your card. If you try to spend more it will be declined.</p>

<h3 class="govuk-heading-m">How long you have to spend it</h3>

<p class="govuk-body">You can only have a maximum of 16 weeks’ money on the card. If you do not spend it in that time your payments will stop. They will start again once you start spending.</p>

<p class="govuk-body"><strong>For example</strong></p>
<p class="govuk-body">If you get £3.10 every 4 weeks and you do not spend it your payment would stop after 16 weeks.</p>
<p class="govuk-body">£3.10 x 16 weeks = £49.60</p>
<p class="govuk-body">£49.60 would be the maximum amount you can have on the card.</p>
<p class="govuk-body">If you spend all of the £49.60 your payments will start up again as normal.</p>
<p class="govuk-body">If you only spend £2 you would only get a £2 payment. This is because you will have reached your maximum amount again.</p>

{{ govukInsetText({
    text: "Try to spend your money each month and keep your balance low to make sure you get your full amount."
}) }}

<hr class="govuk-section-break govuk-section-break--l">

<h2 class="govuk-heading-l">Vitamin vouchers</h2>

<p class="govuk-body">Vitamins are not part of the card service yet. You’ll be sent vouchers for those separately which you can exchange for vitamin supplements.</p>
<p class="govuk-body">Find out where you can exchange your vouchers at:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="https://www.nhs.uk/Service-Search/Healthy-start-vitamins/LocationSearch/348">NHS Choices</a> if you live in England (or ask your midwife or health visitor)</li>
  <li>from your midwife or health visitor if you live in Wales</li>
  <li><a class="govuk-link" href="https://www.healthystart.nhs.uk/for-health-professionals/vitamins/vitamins-in-northern-ireland">NHS Healthy Start</a>  if you live in Northern Ireland</li>
</ul>

{% endblock %}
