{% from "table/macro.njk" import govukTable %}

<h1 class="govuk-heading-xl">Cwci</h1>

<p class="govuk-body">In hac habitasse platea dictumst donec in purus et enim sodales pharetra 'cwcis'
    nisi vitae faucibus.</p>
<p class="govuk-body">Duis ac dui elementum fermentum nisi vitae:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod</li>
    <li>Eget felis eget nunc lobortis mattis</li>
    <li>Urna condimentum mattis nunc imperdiet ipsum a condimentum pretium leo neque</li>
</ul>
<p class="govuk-body">Donec sit <a class="govuk-link" href="https://ico.org.uk/for-the-public/online/cookies/">leo nunc imperdiet ipsum a condimentum pretium leo.</a></p>

<h2 class="govuk-heading-m">Urna condimentum cwci</h2>

<p class="govuk-body">Tempus egestas sed sed risus pretium quam vulputate dignissim suspendisse. Lectus quam id leo in.</p>

<p class="govuk-body">In hac habitasse platea dictumst donec in purus et enim sodales pharetra:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Sed nisl felis, commodo eu bibendum</li>
    <li>In hac habitasse platea dictumst donec</li>
    <li>Quisque vel ex porttitor accumsan massa egestas</li>
</ul>

{{ govukTable({
  head: [
    {
      text: "Nominus"
    },
    {
      text: "Bibendum"
    },
    {
      text: "Porttitor"
    }
  ],
  rows: [
    [
      {
        text: "_ga"
      },
      {
        text: "Maecenas id molestie orci nec suscipit neque vivamus."
      },
      {
          text: "2 annus"
      }
    ],
    [
      {
        text: "_gid"
      },
      {
        text: "Maecenas id molestie orci nec suscipit neque vivamus."
      },
      {
        text: "24 horrors"
      }
    ],
    [
      {
        text: "_gat_UA-133839203_4"
      },
      {
        text: "Maecenas id molestie orci nec suscipit neque vivamus."
      },
      {
        text: "1 momento"
      }
    ]
  ]
}) }}

<p class="govuk-body">Tempus egestas sed sed risus pretium quam vulputate dignissim suspendisse.</p>

<h2 class="govuk-heading-m">Septimus cwcis</h2>

<p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

{{ govukTable({
  head: [
    {
      text: "Nominus"
    },
    {
      text: "Bibendum"
    },
    {
      text: "Porttitor"
    }
  ],
  rows: [
    [
      {
        text: "htbhf.sid"
      },
      {
        text: "Duis ac dui elementum fermentum."
      },
      {
          text: "Quisque vel ex 30 porttitor."
      }
    ],
    [
      {
        text: "lang"
      },
      {
        text: "Morbi porta tellus diam."
      },
      {
        text: "Quisque vel ex 30 porttitor."
      }
    ]
  ]
}) }}
