{% from "table/macro.njk" import govukTable %}

<h1 class="govuk-heading-xl">
  Privacy notice
</h1>


<p class="govuk-body">Sed interdum maximus urna nec interdum sed interdum maximus urna nec interdum sed interdum maximus urna nec interdum.</p>

<p class="govuk-body">Sed interdum maximus urna nec interdum sed interdum maximus urna nec interdum sed interdum maximus urna nec interdum
  Sed interdum maximus urna nec interdum sed interdum maximus urna nec interdum sed interdum maximus urna nec interdum.
</p>

<p class="govuk-body">
  Sed interdum maximus <a href="https://www.gov.uk/government/organisations/department-of-health-and-social-care/about/personal-information-charter" target="_blank">
    sed interdum maximus</a> sed interdum maximus.</p>

<p class="govuk-body">Sed <a class="govuk-link" href="/cookies">interdum maximus</a> sed interdum maximus.</p>

<h2 class="govuk-heading-m">
  Sed interdum maximus
</h2>

{{ govukTable({
  firstCellIsHeader: true,
  head: [
    {
      text: "Sed interdum maximus"
    },
    {
      text: "Sed interdum maximus?"
    }
  ],
  rows: [
    [
      {
        text: "Sed"
      },
      {
        text: "Sed interdum maximus"
      }
    ],
    [
      {
        text: "Sed interdum maximus"
      },
      {
        text: "Sed interdum maximus"
      }
    ],
    [
      {
        text: "Sed interdum maximus"
      },
      {
        text: "Sed interdum maximus sed interdum maximus"
      }
    ],
    [
      {
        text: "Interdum"
      },
      {
        text: "Sed interdum maximus sed interdum maximus"
      }
    ],
    [
      {
        text: "Sed maximus"
      },
      {
        text: "Sed interdum maximus sed interdum maximussed interdum maximus"
      }
    ]
  ]
}) }}

<h2 class="govuk-heading-m">Sed interdum maximus</h2>
<p class="govuk-body">Sed interdum maximus sed interdum maximus sed interdum maximus sed interdum maximussed interdum maximus sedinterdum maximus.</p>

<p class="govuk-body">Iinterdum maximus sed interdum maximus sed interdum maximussed interdum maximus sedinterdum maximus.</p>

<p class="govuk-body">Winterdum maximus sed interdum maximus sed interdum maximussed interdum maximus sedinterdum maximus.</p>

<p class="govuk-body">Wed maximus:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>interdum maximussed interdum maximus sedin</li>
  <li>interdum maximussed interdum maximus sedin</li>
</ul>

<h2 class="govuk-heading-m">Denterdum maximussed interdum maximus sedin</h2>
<p class="govuk-body">Winterdum maximus sed interdum maximus sed interdum maximussed interdum maximus sedinterdum maximus.</p>

<p class="govuk-body">Winterdum maximus sed interdum maximus sed interdum maximussed interdum maximus sedinterdum maximus:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>interdum maximus sed</li>
  <li>maximus sed interdum</li>
  <li>sed interdum maximus</li>
</ul>

<p class="govuk-body">
  Sed interdum maximus
  <a href="https://www.allpay.net/privacy-statement/" target="_blank"> sed interdum maximus</a>
  sed interdum maximussed interdum maximus.
</p>

<h2 class="govuk-heading-m">Sed interdum maximus</h2>
<p class="govuk-body">
  Ssed interdum maximus sed interdum maximus
  <a href="https://www.gov.uk/eu-eea" target="_blank">sed interdum maximus</a>.
</p>

<h2 class="govuk-heading-m">Gsed interdum maximus</h2>
<p class="govuk-body">Wsed interdum maximus:<p>

<ul class="govuk-list govuk-list--bullet">
  <li>sed interdum maximus</li>
  <li>sed interdum maximus sed interdum maximus</li>
</ul>

<p class="govuk-body">Osed interdum maximus.<p>

<h2 class="govuk-heading-m">Used interdum maximus</h2>
<p class="govuk-body">Used interdum maximus 13.<p>

<h2 class="govuk-heading-m">Ysed interdum maximus</h2>
<p class="govuk-body">Ysed interdum maximus:<p>

<ul class="govuk-list govuk-list--bullet">
  <li>sed interdum maximus</li>
  <li>sed interdum maximus sed interdum maximus</li>
  <li>sed interdum maximus</li>
  <li>sed interdum maximus sed interdum maximus</li>
</ul>

<p class="govuk-body">Ysed interdum maximus
  <a href="mailto:nhsbsa.applyforhealthystart@nhsbsa.nhs.uk" target="_blank">nhsbsa.applyforhealthystart@nhsbsa.nhs.uk</a>.
</p>

<p class="govuk-body">
  Ysed interdum maximused interdum maximus sed interdum maximus sed interdum maximus.
</p>

<p class="govuk-body">
  Ysed interdum maximus
  <a href="https://www.healthystart.nhs.uk/healthy-start-vouchers/how-to-apply/" target="_blank">Ysed interdum maximus</a>
  sed interdum maximus.
</p>

<h2 class="govuk-heading-m">Ysed interdum maximust</h2>
<p class="govuk-body">Ysed interdum maximus:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>sed interdum maximus</li>
  <li>sed interdum maximus</li>
</ul>

<div class="c-htbhf-inset">
  <p>
    Data Protection Officer<br>
    Department of Health and Social Care<br>
    1st Floor North<br>
    39 Victoria Street<br>
    London<br>
    SW1H 0EU<br>
    Email: <a class="govuk-link" href="mailto:data_protection@dhsc.gov.uk">Data_protection@dhsc.gov.uk</a><br>
  </p>
</div>

<p class="govuk-body">
  Sed interdum maximus <a class="govuk-link" href="https://ico.org.uk/">Information Commissioner’s Office (ICO)</a>.
</p>

<h2 class="govuk-heading-m">Sed interdum maximus</h2>
<p class="govuk-body">Sed interdum maximus: </p>

<div class="c-htbhf-inset">
  <p>
    Information Commissioner’s Office<br>
    Wycliffe House<br>
    Water Lane<br>
    Wilmslow<br>
    Cheshire SK9 5AF<br>
    Telephone: 0303 123 1113<br>
    Website: <a class="govuk-link" href="https://ico.org.uk/" target="_blank">ico.org.uk</a><br>
  </p>
</div>
