<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        If you do not comply with these terms and conditions, your payment may be stopped. You may also be asked to repay money you have received.
    </strong>
</div>

<h3 class="govuk-heading-m">About your application</h3>

<p class="govuk-body">By submitting your application you confirm that the information you have provided is correct.</p>
