{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
    text: "Vivamus elementum libero sed efficitur laoreet. Vivamus fringilla porta eros, sit amet cursus lacus rhoncus at.",
    iconFallbackText: "Warning"
}) }}

<h3 class="govuk-heading-m">Sed interdum maximus urna nec interdum</h3>

<p class="govuk-body">Curabitur id magna vel ante euismod porta. Ut ullamcorper lobortis ex sit amet mattis. Proin ligula augue, maximus hendrerit dictum et, mollis nec justo.</p>

<h3 class="govuk-heading-m">Sed interdum maximus urna nec interdum</h3>
