<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Maecenas in rhoncus ante</span>
        Vivamus elementum libero sed efficitur laoreet. Vivamus fringilla porta eros, sit amet cursus lacus rhoncus at.
    </strong>
</div>

<h3 class="govuk-heading-m">Sed interdum maximus urna nec interdum</h3>

<p class="govuk-body">Curabitur id magna vel ante euismod porta. Ut ullamcorper lobortis ex sit amet mattis. Proin ligula augue, maximus hendrerit dictum et, mollis nec justo.</p>
